:root{
--ficgrey:#302625;
--sjgrey:#71665D;
--sjgrey2:#585450;
--sjgrey3:#A8A8A8;
--sjcream: #EBEBEB;
--output-c0:#EE9900;
--output-c1:#EE5A00;
--output-c2:#FF4449;
--output-c3:#FF0667;
--output-c4:#FF06EA;
--output-c5:#B706FF;
--output-c6:#8506FF;
--output-c7:#6A31F7;
--output-c8:#405CFB;
--output-c9:#408EFB;
--output-c10:#40CAFB;
--output-c11:#40FBE4;

--thor-1:#8D0E27;
--thor-2:#AD6B66;
--thor-3:#4E6793;
--thor-4:#616F35;
--thor-5:#645183;
--thor-6:#469C83;
--thor-7:#C24B1E;
--thor-8:#242C96;
--thor-9:#CB274F;
--thor-10:#431A51;
--thor-11:#9DC025;
--thor-12:#DC8A18;
--thor-13:#0D0465;
--thor-14:#3A992F;
--thor-15:#9A0F2B;
--thor-16:#EDCD0F;
--thor-17:#C52B88;
--thor-18:#1F7F9C;

--louvre-grey-1:#4D4A58;
--louvre-grey-2:#5E5A6B;
--louvre-grey-3:#706B80;
--louvre-grey-4:#8D899C;
--louvre-grey-5:#A7A3B2;
--louvre-grey-6:#BDBBC6;
}



body {
  margin: 0;
  font-family: arial;

  font-size: 14rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--louvre-grey-1);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  font-family: arial;
  font-size: 20rem;
}
h2{
  font-family: arial;
  font-size: 18rem;

}
.mainContainer{
min-width: 100%;
max-height: 100%;
box-sizing: border-box;
}
.reader{
  min-height: 50vh;
  background-color: var(--louvre-grey-3);
  width: 100% ;
  color: var(--thor-11);
}
.reader section section div{
  /* border-color: var(--thor-11) !important; */

/* box-shadow: rgba(157, 192, 37, 0.5) !important; */
box-shadow: none  !important;



  /* background-color: red !important; */
}
.landing1{
  max-height: 50vh;
  background-color:  var(--louvre-grey-3);
  /* padding: 2vw; */
  padding-left: 2vw;
  padding-right: 2vw;
  box-sizing: border-box;
}
.pageContainer{
  background-color: var(--louvre-grey-1);
  max-height: 50vh;
box-sizing: border-box;
}
.bar{
  min-width: 100%;
  min-height: 5vh;
  background-color: var(--louvre-grey-2);
  color: var(--louvre-grey-6);


}
.lang-but{
  background-color: var(--thor-4);
  color: var(--louvre-grey-5);
  /* color: var(--thor-11); */
  padding: 1vw;
  margin:1vw;
  border-radius: 12px;
  border: 2px;
  border-color:  var(--thor-11);
}
.language-selection{
  text-align: right;
  padding-right: 3vh;
}
.page-heading{
  font-family: arial;
  font-size: 1.5rem;
  color: var(--sjcream);

  background-color: var(--louvre-grey-3);
  padding-left: 2vw;

}
.page-body{
  padding:5vw;
  font-family: arial;
  font-size: 1.1rem;
  color: var(--sjcream);
  background-color: var(--louvre-grey-4);
  /* text-align: left; */
}
.bounce-back{
  font-family: arial;
  font-size: 1.5rem;

  background-color: var(--louvre-grey-1);
  color: var(--thor-11);
  border: 1px;
  border-color: var(--thor-11);
}
.button-only{
  align-items: center;
  min-height: 50vh;
  background-color: var(--louvre-grey-1);
  width: 100% ;
  color: var(--thor-11);
}
.frame-0{
  min-width: 88vw;
  min-height: 40vh;
   background-color: var(--louvre-grey-4);
  /* background-color: var(--thor-13); */

  padding: 5vh;
  border-color: var(--thor-11);
}
.frame-1{
  min-width: 35vw;
  background-color: var(--louvre-grey-3);
  padding: 8vh;

  /* margin-top: 10vh; */
}
.frame-2{
  min-width: 30vw;
  background-color: var(--louvre-grey-2);
  padding: 5vh;

}
.logo-bottom{
  max-width: 92vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: var(--louvre-grey-2);
}
